$phone: "only screen and (max-width: 480px)";
$tablet: "only screen and (max-width: 768px)";
$desktop: "only screen and (max-width: 960px)";

.wrapper {
  @media #{$desktop} {
    background: blue;
  }
  @media #{$tablet} {
    background: green;
  }
  @media #{$phone} {
    background: red;
  }
}