$phone: "only screen and (max-width: 480px)";
$tablet: "only screen and (max-width: 768px)";
$desktop: "only screen and (max-width: 960px)";

.wrapper {
  @media #{$desktop} {
    background: blue;
  }
  @media #{$tablet} {
    background: green;
  }
  @media #{$phone} {
    background: red;
  }
}
/////////
@mixin button($width, $height, $background, $color, $border-radius) {
  width: $width;
  height: $height;
  line-height: $height;
  text-align: center;
  background: $background;
  color: $color;
  border-radius: $border-radius;
}

button {
  @include button(150px, 50px, #000, #fff, 8px); 
}